.SuggestionsBox {
    position: absolute;
    /* background-color: rgb(185, 221, 255); */
    background-color: none;
    border-radius: 0 0 10px 10px;
    border: 1px solid black;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}