.SectionWrapper {
    max-width: 800px;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    padding: 0 10%;
}

/* DESKTOP */
@media only screen and (min-width: 900px) {
    .SectionWrapper {
        padding: 0 15%;
    }
}