.App {
  margin:0 10%;
  padding: 0;
}

html {
  background-color: rgba(0, 0, 0, 1);
}

.button {
  width: auto;
  height: auto;
  background-color: gray;
  text-align: center;
  color: blue;
}

.button:hover {
  cursor: pointer;
}