.App {
  margin:0;
  padding: 0;
}

html {
  background-color: rgba(0, 0, 0, 1);
}

.button {
  width: auto;
  height: auto;
  background-color: transparent;
  border: 0;
  text-align: center;
  color: #4a87ff;
  padding: 15px 10px;
  font-size: 100%;
  box-sizing: border-box;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.text {
  color: white;
  text-align: left;
  text-decoration: none;
}

/* VENDOR */
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}