.App {
  margin:0 10%;
  padding: 0;
}

html {
  background-color: rgba(0, 0, 0, 1);
}

.button {
  width: auto;
  height: auto;
  background-color: none;
  text-align: center;
  color: #4a87ff;
  padding: 15px 10px;
  font-size: 100%;
}

.button:hover {
  cursor: pointer;
}